.main_heading{
    text-align: center;
    /* border: 1px solid blue; */
    width: 100%;
    min-height: 80px;
    margin: 15% auto 2% auto; 
    color: #e6eaf2;
}
.my_box{
    justify-content: center;
    /* border: 1px solid red; */
    height: 50px;
}
/*------------------------ SOCIAL MEDIA ICONS AND DIV ELEMENTS------------------------------ */
.social_media_icons{
    position: relative;
    text-align: center;
    /* border: 1px solid blue; */
    width: 100%;
    min-height: 60px;
    margin: 0 auto; 
}
.fa {
    margin-right: 3%;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
/*------------------------------------------- Background Color change kit----------------------------- */
body {
	/* width: 100wh;
    height: 90vh; */
    font: 100% Helvetica, sans-serif;
	color: #fff;
	background: linear-gradient(-20deg, rgb(155, 54, 23), rgb(119, 13, 53), rgb(10, 84, 110), rgb(10, 124, 98));
	background-size: 400% 400%;
	-webkit-animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
	animation: Gradient 8s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/*-------------------------MEDIA QUERIES------------------------------ */
